@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  background-color: #f9fafb; /* bg-gray-50 */
  color: #1f2937; /* text-gray-800 */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Hapus override bawaan Vite */
#root {
  max-width: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

html,
body {
  scroll-behavior: smooth;
}
